.components-table {
  width: 100%;
  margin: auto;
}

.mat-column-componentType {
  width: 90%;
  padding-left: 16px;
}

.mat-column-identificationNumber {
  border-right: 1px solid;
  width: 10%;
}

.mat-row:hover {
  background-color: lightgrey;
}
