<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">
    <mat-icon>dashboard</mat-icon>
    {{'sidebar.dashboard' | translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="buildings">
    <mat-icon>apartment</mat-icon>
    {{'sidebar.buildings' | translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="problems">
    <mat-icon>priority_high</mat-icon>
    {{'sidebar.problems' | translate}}
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="favorites">
    <mat-icon>favorite</mat-icon>
    {{'sidebar.favorites' | translate}}
  </a>
</mat-nav-list>
