<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <button mat-button routerLink="">
        <h1 class="title">SmartCampus</h1>
      </button>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button *ngIf="isDark" mat-icon-button (click)="toggleDarkMode()">
            <mat-icon>flashlight_on</mat-icon>
          </button>
          <button *ngIf="!isDark" mat-icon-button (click)="toggleDarkMode()">
            <mat-icon>flashlight_off</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button [matMenuTriggerFor]="language">
            <mat-icon>menu_book</mat-icon>
          </button>
          <mat-menu #language="matMenu">
            <button mat-menu-item>
              de
            </button>
            <button mat-menu-item>
              en
            </button>
            <button mat-menu-item>
              nl
            </button>
            <button mat-menu-item>
              fr
            </button>
          </mat-menu>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>login</mat-icon>
              Sign in
            </button>
            <button mat-menu-item>
              <mat-icon>logout</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
