
<h3>Buildings</h3>
<table mat-table [dataSource]="bDataSource"
       class="buildings-table mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      Name
    </th>
    <td mat-cell *matCellDef="let building"
        routerLink="/buildings/{{building.getIdentificationNumber()}}">
      {{building.getBuildingName()}}
    </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>
      Number
    </th>
    <td mat-cell *matCellDef="let building">
      {{building.getBuildingNumber()}}
    </td>
  </ng-container>

  <ng-container matColumnDef="campus_location">
    <th mat-header-cell *matHeaderCellDef>
      Campus Location
    </th>
    <td mat-cell
        *matCellDef="let building"> {{building.getCampusLocation() | campusLocation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedBuildingColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedBuildingColumns;"></tr>
</table>
