<h1 mat-dialog-title>{{'dialogs.edit_problem.title' | translate}}</h1>
<span>{{'dialogs.edit_problem.usage' | translate}}</span>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_problem.problem_title_label' | translate}}</mat-label>
    <input placeholder="{{'dialogs.edit_problem.problem_title_placeholder' | translate}}" matInput
           [(ngModel)]="problemTitle" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_problem.problem_description_label' | translate}}</mat-label>
    <textarea placeholder="{{'dialogs.edit_problem.problem_description_placeholder' | translate}}" matInput
              [(ngModel)]="problemDescription" required cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">{{'dialogs.ok' | translate}}</button>
  <button mat-button (click)="cancel()" color="warn">{{'dialogs.cancel' | translate}}</button>
</div>
