<h1 mat-dialog-title>{{'dialogs.edit_component.title' | translate}}</h1>
<span>{{'dialogs.edit_component.usage' | translate}}</span>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_component.description_label' | translate}}</mat-label>
    <textarea placeholder="{{'dialogs.edit_component.description_placeholder' | translate}}" matInput
              [(ngModel)]="componentDescription" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_component.component_type_label' | translate}}</mat-label>
    <mat-select [(ngModel)]="componentType" required>
      <mat-option *ngFor="let componentType of componentTypes" [value]="componentType">
        {{componentType |componentType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_component.latitude_label' | translate}}</mat-label>
    <input placeholder="{{'dialogs.edit_component.latitude_placeholder' | translate}}" matInput [(ngModel)]="latitude"
           required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'dialogs.edit_component.longitude_label' | translate}}</mat-label>
    <input placeholder="{{'dialogs.edit_component.longitude_placeholder' | translate}}" matInput [(ngModel)]="longitude"
           required>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">{{'dialogs.ok' | translate}}</button>
  <button mat-button (click)="cancel()" color="warn">{{'dialogs.cancel' | translate}}</button>
</div>
