<h1>Edit Component</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea placeholder="e.g., The left elevator in the building" matInput [(ngModel)]="componentDescription" required></textarea>
  </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label>Component Type</mat-label>
    <mat-select [(ngModel)]="componentType" required>
      <mat-option *ngFor="let componentType of componentTypes" [value]="componentType">
        {{componentType |componentType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input placeholder="3.2" matInput [(ngModel)]="latitude" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input placeholder="32.2" matInput [(ngModel)]="longitude" required>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">Ok</button>
  <button mat-button (click)="cancel()" color="warn">Cancel</button>
</div>
