table {
  width: 100%;
}

.mat-column-identificationNumber {
  width: 10%;
  padding-left: 16px;
}

.mat-column-problemTitle {
  width: 30%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-problemReporter {
  width: 10%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-actions {
  width: 10%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-created_on {
  width: 20%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-modified_on {
  width: 20%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-row:hover {
  background-color: lightgrey;
}
