<div class="search">
  <mat-form-field>
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applySearch()" #input>
    <button mat-button mat-icon-button matSuffix aria-label="Filter" (click)="openFilterProblemsDialog()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z0">
  <table mat-table
         [dataSource]="dataSource"
         multiTemplateDataRows
         matSort>
    <ng-container matColumnDef="problemTitle">
      <th mat-header-cell *matHeaderCellDef> TITLE </th>
      <td mat-cell *matCellDef="let problem"> {{problem.problemTitle}} </td>
    </ng-container>

    <ng-container matColumnDef="problemState">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="problemState"
          sortActionDescription="Sort by problemState">
        State </th>
      <td mat-cell *matCellDef="let problem"> {{problem.problemState | problemState}} </td>
    </ng-container>

    <ng-container matColumnDef="problemReporter">
      <th mat-header-cell *matHeaderCellDef> REPORTER </th>
      <td mat-cell *matCellDef="let problem"> {{problem.problemReporter}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef [hidden]="!authService.isAdmin()"> ACTIONS </th>
      <td mat-cell *matCellDef="let problem" (click)="$event.stopPropagation()" [hidden]="!authService.isAdmin()">
        <ul>
          <li *ngFor="let operation of problem.possibleStateOperationsList">
            <button mat-stroked-button color="primary" (click)="changeState(operation, problem.identificationNumber)">{{operation | problemsStateOperation}}</button>
          </li>
        </ul>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="createdOn"
          sortActionDescription="Sort by createdOn">
        CREATED </th>
      <td mat-cell *matCellDef="let problem"> {{problem.createdOn | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="lastModifiedOn"
          sortActionDescription="Sort by lastModifiedOn">
        MODIFIED </th>
      <td mat-cell *matCellDef="let problem"> {{problem.lastModifiedOn | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="edit_problem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let problem" (click)="$event.stopPropagation()">
        <button *ngIf="authService.isAdmin()"
                mat-icon-button
                (click)="openUpdateProblemDialog(problem)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete_problem">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let problem" (click)="$event.stopPropagation()">
        <button *ngIf="authService.isAdmin()"
                mat-icon-button color="warn"
                (click)="openRemoveProblemDialog(problem.identificationNumber)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Description Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let problem" [attr.colspan]="columnsToDisplay.length">
        <div class="problem-detail"
             [@detailExpand]="problem == expandedProblem ? 'expanded' : 'collapsed'">
          <div class="problem-description">
            {{problem.problemDescription}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let problem; columns: columnsToDisplay;"
        class="problem-row"
        [class.expanded-row]="expandedProblem === problem"
        (click)="expandedProblem = expandedProblem === problem ? null : problem">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of problems">
  </mat-paginator>

  <div *ngIf="isLoading">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
