table {
  width: 100%;
}

.mat-column-identificationNumber {
  width: 10%;
  padding-left: 16px;
}

.mat-column-problemTitle {
  width: 30%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-problemState {
  width: 10%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-problemReporter {
  width: 10%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-actions {
  width: 10%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-creationTime {
  width: 15%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-column-lastModified {
  width: 15%;
  padding-left: 16px;
  border-left: 1px solid;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

tr.detail-row {
  height: 0;
}

tr.problem-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.problem-row:not(.expanded-row):active {
  background: #efefef;
}

.problem-row td {
  border-bottom-width: 0;
}

.mat-row:hover {
  background-color: lightgrey;
}

.problem-detail {
  overflow: hidden;
  display: flex;
}

.problem-description {
  padding: 16px;
}
