<div class="search">
  <mat-form-field>
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applySearch()">
    <button mat-button mat-icon-button matSuffix aria-label="Filter">
      <mat-icon>filter_list</mat-icon>
    </button> <!-- implement edit, remove and add, and add hide if roles do not fit-->
  </mat-form-field>
</div>

<div class="mat-elevation-z0">
  <table class="fav-buildings-table"
         mat-table [dataSource]="dataSource"
         matSort>
    <ng-container matColumnDef="buildingNumber">
      <th mat-header-cell *matHeaderCellDef>{{ 'buildings_table.number' | translate }}</th>
      <td mat-cell *matCellDef="let building">{{building.buildingNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="buildingName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="buildingName"
          sortActionDescription="Sort by buildingName">
        Name
      </th>
      <td mat-cell *matCellDef="let building"
          routerLink="/buildings/{{building.identificationNumber}}">
        {{building.buildingName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'buildings_table.address' | translate }}
      </th>
      <td mat-cell *matCellDef="let building">
        // placeholder
      </td>
    </ng-container>

    <ng-container matColumnDef="campusLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="campusLocation"
          sortActionDescription="Sort by campusLocation">
        {{ 'buildings_table.campus_location' | translate }}
      </th>
      <td mat-cell
          *matCellDef="let building"> {{building.campusLocation | campusLocation}} </td>
    </ng-container>

    <ng-container matColumnDef="remove_favorite_building">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let building">
        <button mat-icon-button color="warn">
          <!-- insert dialog here and remove call + set it to hidden when we have authentication running -->
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of buildings">
  </mat-paginator>
</div>
