/*
 * favorite buildings table styling
 */

.fav-buildings-table {
  width: 100%;
  margin: auto;
}

.mat-column-building-id {
  border-right: 1px solid;
  width: 10%;
}

.mat-column-building-name {
  padding-left: 16px;
  border-right: 1px solid;
  width: 30%;
}

.mat-column-building-number {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-building-address {
  border-right: 1px solid;
  width: 30%;
  padding-left: 16px;
}

.mat-column-building-campus_location {
  width: 20%;
  padding-left: 16px;
}

/*
 * favorite rooms table styling
 */

.fav-rooms-table {
  width: 100%;
  margin: auto;
}

.mat-column-room-number {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-room-name {
  padding-left: 16px;
  border-right: 1px solid;
  width: 50%;
}

.mat-column-room-floor {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-room-type {
  width: 20%;
  padding-left: 16px;
}

.mat-column-room-id {
  border-right: 1px solid;
  width: 10%;
}

/*
 * favorite components table styling
 */

.fav-components-table {
  width: 100%;
  margin: auto;
}

.mat-column-component-id {
  border-right: 1px solid;
  width: 20%;
}

.mat-column-component-type {
  width: 80%;
  padding-left: 16px;
}

/*
 * any table styling
 */

.mat-row:hover {
  background-color: lightgrey;
}
