#welcome-image {
  opacity: 0.1;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5000;
  -webkit-filter: invert(50%);
}

.routerLink{
  color: #c44dff;
}
