<div class="roomTitle">
  <h1>{{room.roomNumber}}</h1>
  <h3>{{room.roomName}}</h3>

  <div class="controls">
    <button (click)="addFavorite()" mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button (click)="openCreateProblemDialog()" mat-icon-button>
      <mat-icon>priority_high</mat-icon>
    </button>
  </div>
</div>



<mat-tab-group>
  <mat-tab label="components">
    <app-components-table></app-components-table>
  </mat-tab>
  <mat-tab label="notifications">
    <app-notifications-table></app-notifications-table>
  </mat-tab>
  <mat-tab label="details">
    <mat-list>
      <mat-list-item>{{ 'room_details.name' | translate }}: {{room.roomName}}</mat-list-item>
      <mat-list-item>{{ 'room_details.number' | translate }}: {{room.roomNumber}}</mat-list-item>
      <mat-list-item>{{ 'room_details.floor' | translate }}: {{room.floor}}</mat-list-item>
      <mat-list-item>{{ 'room_details.type' | translate }}: {{room.roomType | roomType}}</mat-list-item>
      <mat-list-item>{{ 'room_details.coordinates' | translate }}: {{room.grpcGeographicalLocation!.latitude}}, {{room.grpcGeographicalLocation!.longitude}}</mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

