<div class="roomTitle">
  <h1>{{room.roomNumber}}</h1>
  <h3>{{room.roomName}}</h3>
</div>


<button (click)="addFavorite()">
  Add to favorites
</button>


<mat-tab-group>
  <mat-tab label="components">
    <app-components-table></app-components-table>
  </mat-tab>
  <mat-tab label="notifications">
    <app-notifications-table></app-notifications-table>
  </mat-tab>
  <mat-tab label="details">
    <h3>Details</h3>
    <h4>Name</h4>
    <p>{{room.roomName}}</p>
    <h4>Floor: {{room.floor}}</h4>
  </mat-tab>
</mat-tab-group>

