<h1 mat-dialog-title>Add room</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input placeholder="Seminarraum 25" matInput [(ngModel)]="roomName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input placeholder="-1.025" matInput [(ngModel)]="roomNumber" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Floor</mat-label>
    <input matInput placeholder="-1" [(ngModel)]="floor">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Room Type</mat-label>
    <mat-select [(ngModel)]="roomType" required>
      <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
        {{roomType | roomType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input placeholder="3.2" matInput [(ngModel)]="latitude" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input placeholder="32.2" matInput [(ngModel)]="longitude" required>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">Ok</button>
  <button mat-button (click)="cancel()" color="warn">Cancel</button>
</div>
