<h1 mat-dialog-title>Add room</h1>

<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input placeholder="Seminarraum 25" matInput [(ngModel)]="roomName" [formControl]="formControl">
    <mat-error *nfIf="formControl.hasError('required')">Name is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input placeholder="-1.025" matInput [(ngModel)]="roomNumber" [formControl]="formControl">
    <mat-error *nfIf="formControl.hasError('required')">Number is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Floor</mat-label>
    <input matInput placeholder="-1" [(ngModel)]="floor">
    <mat-error *nfIf="formControl.hasError('required')">Number is <strong>required</strong></mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Room Type</mat-label>
    <mat-select [(ngModel)]="roomType" [formControl]="formControl" required>
      <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
        {{roomType | roomType}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.hasError('required')">
      Pick a room type
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input placeholder="3.2" matInput [(ngModel)]="latitude" [formControl]="formControl">
    <mat-error *ngIf="formControl.hasError('required')">
      Latitude is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input placeholder="32.2" matInput [(ngModel)]="longitude" [formControl]="formControl">
    <mat-error *ngIf="formControl.hasError('required')">
      Longitude is <strong>required</strong>
    </mat-error>
  </mat-form-field>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">Ok</button>
  <button mat-button (click)="cancel()" color="warn">Cancel</button>
</div>
