<div class="mat-elevation-z0">
  <table class="fav-components-table"
         mat-table [dataSource]="dataSource"
         matSort>
    <ng-container matColumnDef="componentType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="componentType"
          sortActionDescription="Sort by componentType">
        {{ 'components_table.campus_location' | translate }}
      </th>
      <td mat-cell *matCellDef="let component"
          routerLink="/components/{{component.identificationNumber}}">
        {{component.componentType | componentType}} </td>
    </ng-container>

    <ng-container matColumnDef="remove_favorite_component">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let component" (click)="$event.stopPropagation()">
        <button mat-icon-button color="warn"
                (click)="openRemoveFavoriteDialog(component.identificationNumber)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                 showFirstLastButtons
                 aria-label="Select page of components">
  </mat-paginator>

  <div *ngIf="isLoading">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
