<h2>ADD BUILDING</h2>


  <mat-form-field>
    <mat-label>Building name</mat-label>
    <input [(ngModel)]="buildingname" placeholder="Building name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Building number</mat-label>
    <input [(ngModel)]="buildingnumber" placeholder="Building number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimal floor</mat-label>
    <input [(ngModel)]="minfloor" placeholder="Minimal floor">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximal floor</mat-label>
    <input [(ngModel)]="maxfloor" placeholder="Maximal floor">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Lonvalue</mat-label>
    <input [(ngModel)]="lngvalue" placeholder="Longitude">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Latvalue</mat-label>
    <input [(ngModel)]="latvalue" placeholder="Latitude">
  </mat-form-field>

<br>

<button (click)="onClickAccept()">Submit</button> <button (click)="onCloseClick()"></button>
