ul {
  list-style-type: none;
}

.filter-selections {
  display: flex;
}

.campus-location-selection {
  flex: 1;
  padding: 1em;
}

.room-type-selection {
  flex: 1;
  padding: 1em;
}

.component-type-selection {
  flex: 1;
  padding: 1em;
}
