<app-header (toggleSideBarForMe)="sideBarToggler($event)" (toggleDarkModeForMe)="darkModeToggler($event)"></app-header>
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="overlay">
      <img id="welcome-image" src="../../../assets/images/KITLOGO.png" alt="kit_logo">
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
