
<button (click)="addFavorite()" mat-icon-button>
  <mat-icon>star</mat-icon>
</button>

<button (click)="openCreateProblemDialog()" mat-icon-button>
  <mat-icon>report_problem</mat-icon>
</button>



<mat-tab-group>
  <mat-tab label="notifications">
    <app-notifications-table></app-notifications-table>
  </mat-tab>
  <mat-tab label="details">
    <mat-list>
      <mat-list-item>{{ 'component_details.type' | translate }}: {{component.componentType | componentType}}</mat-list-item>
      <mat-list-item>{{ 'component_details.description' | translate }}: {{component.componentDescription}}</mat-list-item>
      <mat-list-item>{{ 'component_details.coordinates' | translate }}: {{component.grpcGeographicalLocation!.latitude}}, {{component.grpcGeographicalLocation!.longitude}}</mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>
