.fav-rooms-table {
  width: 100%;
  margin: auto;
}

.mat-column-roomNumber {
  border-right: 1px solid;
  width: 15%;
  padding-left: 16px;
}

.mat-column-roomName {
  padding-left: 16px;
  border-right: 1px solid;
  width: 50%;
}

.mat-column-floor {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-roomType {
  width: 25%;
  padding-left: 16px;
}

.mat-row:hover {
  background-color: lightgrey;
}
