<h1 mat-dialog-title>Edit Building</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input placeholder="e.g., Audimax" matInput [(ngModel)]="buildingName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput placeholder="e.g., 30.30" [(ngModel)]="buildingNumber" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Campus Location</mat-label>
    <mat-select [(ngModel)]="campusLocation" required>
      <mat-option *ngFor="let campusLocation of campusLocations" [value]="campusLocation">
        {{campusLocation | campusLocation}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input placeholder="3.2" matInput [(ngModel)]="latitude" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input placeholder="32.2" matInput [(ngModel)]="longitude" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Highest Floor</mat-label>
    <input placeholder="3" matInput [(ngModel)]="highestFloor" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Lowest Floor</mat-label>
    <input placeholder="-1" matInput [(ngModel)]="lowestFloor" required>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">Ok</button>
  <button mat-button (click)="cancel()" color="warn">Cancel</button>
</div>
