<h1 mat-dialog-title>{{'dialogs.filter_problems.title' | translate}}</h1>
<span>{{'dialogs.filter_problems.usage' | translate}}</span>

<div class="filter-selections">
    <span class="problem-state-selection">
      <span class="problem-states">
        <mat-checkbox class="first-entry"
                      [checked]="allPSComplete"
                      [color]="'primary'"
                      [indeterminate]="someComplete('ps')"
                      (change)="setAll($event.checked, 'ps')">
    {{'dialogs.filter_problems.problem_states_label' | translate}}
        </mat-checkbox>
      </span>
      <span class="problem-states">
        <ul>
          <li *ngFor="let problemState of selectedStates">
            <mat-checkbox
              [(ngModel)]="problemState.selected"
              [color]="'accent'"
              (ngModelChange)="updateAllComplete('ps')">
              {{problemState.state | problemState}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </span>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="ok()">{{'dialogs.ok' | translate}}</button>
  <button mat-button (click)="cancel()" color="warn">{{'dialogs.cancel' | translate}}</button>
</div>
