<div class="buildingTitle">
  <h1>{{building.buildingNumber}}</h1>
  <h3>{{building.buildingName}}</h3>
</div>

<button (click)="addFavorite()">
  Add to favorites
</button>

<button (click)="openCreateProblemDialog()">Report Problem</button>

<div>
  <button mat-button></button>
</div>

<mat-tab-group>
  <mat-tab label="rooms">
    <app-rooms-table></app-rooms-table>
  </mat-tab>
  <mat-tab label="components">
    <app-components-table></app-components-table>
  </mat-tab>
  <mat-tab label="notifications">
    <app-notifications-table></app-notifications-table>
  </mat-tab>
  <mat-tab label="map">
    <div id="map" class="map"></div>
    <google-map
      height="500px"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options">
      <map-marker [position]="marker.position" [label] ="marker.label" [title]="marker.title" [options]="marker.options">

      </map-marker>
    </google-map>
  </mat-tab>
  <mat-tab label="details">
    <h3>Details for Building</h3>
    <h4>Name</h4>
    <p>{{building.buildingName}}</p>
    <h4>Building number</h4>
    <p>{{building.buildingNumber}}</p>
    <h4>Position</h4>
    <p>Coordinates: {{building.grpcGeographicalLocation!.latitude}}, {{building.grpcGeographicalLocation!.longitude}}</p>
  </mat-tab>
</mat-tab-group>

