.rooms-table {
  width: 100%;
  margin: 10px;
}

.components-table {
  width: 100%;
  margin: 10px;
}

.notifications-table {
  width: 100%;
  margin: 10px;
}

mat-grid-tile {
  background: lightblue;
}

