<div class="buildingTitle">
  <h1>{{building.buildingNumber}}</h1>
  <h3>{{building.buildingName}}</h3>
</div>

<div>
  <button mat-button></button>
</div>

<mat-tab-group>
  <mat-tab label="rooms">
    <app-rooms-table></app-rooms-table>
  </mat-tab>
  <mat-tab label="components">
    <app-components-table></app-components-table>
  </mat-tab>
  <mat-tab label="notifications">
    <app-notifications-table></app-notifications-table>
  </mat-tab>
  <mat-tab label="map">

  </mat-tab>
  <mat-tab label="details">
    Details.
  </mat-tab>
</mat-tab-group>

