.building-number {
  text-align: center;
}

.building-name {
  text-align: center;
}

/*
 * rooms table styling
 */

.rooms-table {
  width: 100%;
  margin: auto;
}

.mat-column-room-number {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-room-name {
  padding-left: 16px;
  border-right: 1px solid;
  width: 50%;
}

.mat-column-room-floor {
  border-right: 1px solid;
  width: 10%;
  padding-left: 16px;
}

.mat-column-room-type {
  width: 20%;
  padding-left: 16px;
}

.mat-column-room-id {
  border-right: 1px solid;
  width: 10%;
}

/*
 * components table styling
 */

.components-table {
  width: 100%;
  margin: auto;
}

.mat-column-component-type {
  width: 90%;
  padding-left: 16px;
}

.mat-column-component-id {
  border-right: 1px solid;
  width: 10%;
}

/*
 * notifications table styling
 */

.notifications-table {
  width: 100%;
  margin: auto;
}

.mat-column-notification-title {
  width: 60%;
  padding-left: 16px;
  border-right: 1px solid;
}

.mat-column-created_on {
  width: 15%;
  padding-left: 16px;
  border-right: 1px solid;
}

.mat-column-last_edited_on {
  width: 15%;
  padding-left: 16px;
}

.mat-column-notification-id {
  border-right: 1px solid;
  width: 10%;
}

/*
 * any table styling
 */

.mat-row:hover {
  background-color: lightgrey;
}


